# Below are suggested reviewers for PRs to packages in this repository.
#
# These names are just suggestions; it is fine to have your changes reviewed by
# someone else.

/pkgs/appengine/               @jonasfj @sigurdm
/pkgs/gcloud/                  @jonasfj @sigurdm
/pkgs/native_synchronization/  @mraleph
