# https://www.dartlang.org/tools/private-files.html

build/
.dart_tool
packages
.packages
.pub
pubspec.lock

.buildlog
*.js_
*.js.deps
*.js.map
*.dart.js

# Eclipse
.project

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store
